@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap");
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.navbar {
  padding: 24px 56px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  box-shadow: 0.2px 0.2px 56px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}
.navbar__title {
  font-size: 24px;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  margin: 0;
}
.navbar__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  font-family: "Inter", sans-serif;
  margin: 0;
}
.navbar__item {
  font-size: 16px;
  margin-left: 14px;
  cursor: pointer;
}
.navbar__link {
  color: #000;
  text-decoration: none;
}
.navbar .active {
  font-weight: 500;
  text-decoration: underline;
}

.content {
  padding: 24px 56px;
}
.content .title {
  font-size: 48px;
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
  margin: 24px 0;
}
.content p {
  font-size: 16px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  margin: 0;
  margin-bottom: 14px;
}
.content strong {
  font-weight: 400;
}
.content section {
  border-bottom: 0.5px solid #eaeaea;
  padding-bottom: 24px;
  margin-bottom: 24px;
}
.content .stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 56px;
}

.warning {
  font-weight: 500 !important;
  color: #a69a07;
  border: 1px solid #a69a07;
  font-weight: 300;
  display: block;
  padding: 14px;
  box-shadow: 0.2px 0.2px 15px 0 rgba(0, 0, 0, 0.15);
}

.tip {
  border-left: 1px solid #c0c0c0;
  padding-left: 14px;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 0;
  display: inline-block;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 2px;
  border: 1px solid #eaeaea;
  max-width: 25vw;
  background-color: #f8f8f8;
  box-shadow: 0.2px 0.2px 10px 0 rgba(0, 0, 0, 0.15);
}

.similar-intent {
  cursor: pointer;
}
.similar-intent:hover {
  text-decoration: underline;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.input-group input {
  box-sizing: border-box;
  padding: 14px 14px;
  width: 82%;
  border: 1px solid #eaeaea;
  border-radius: 0;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}
.input-group input:focus {
  outline: none;
  border: 1px solid #2256f2;
}
.input-group button {
  box-sizing: border-box;
  display: inline-block;
  padding: 14px 14px;
  border: 1px solid #2256f2;
  background-color: #2256f2;
  color: white;
  border-radius: 0;
  font-size: 16px;
  cursor: pointer;
  width: 18%;
}
.input-group button:hover {
  background-color: #1f4ee0;
}

.output-box {
  display: block;
  margin: 24px 0;
  padding: 14px 14px;
  width: 50%;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  font-weight: 300;
  font-size: 16px;
}
.output-properties {
  width: 50%;
  border-left: 1px solid #eaeaea;
  padding-left: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 24px;
  box-sizing: border-box;
}
.output-property {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 8px;
  font-weight: 300;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  font-size: 16px;
}
.output-property:hover {
  background-color: #f8f8f8;
}
.output-property span {
  display: inline-block;
  height: 24px;
  width: 80%;
}
.output-property strong {
  font-weight: 400;
}
.output-property .icons {
  position: absolute;
  right: 8px;
  top: calc(50% - 11px);
}
.output-property .icons i {
  font-size: 20px;
  cursor: pointer;
  color: #2256f2;
}
.output-property .icons i:hover {
  color: #6c8ef4;
}
.output-property .icons .primary {
  color: #2256f2;
}
.output-property .icons .primary:hover {
  color: #6c8ef4;
}
.output-property .icons .danger {
  color: #a63a1f;
}
.output-property .icons .danger:hover {
  color: #e05252;
}
.output-edit-property {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 8px;
  font-weight: 300;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
}
.output-edit-property:hover {
  background-color: #f8f8f8;
}
.output-edit-property strong {
  font-weight: 400;
}
.output-edit-property__input {
  border: none;
  border-bottom: 1px solid rgba(34, 86, 242, 0.35);
  font-size: 16px;
  background-color: inherit;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  width: 50%;
  height: 24px;
  padding-bottom: 4px;
  box-sizing: border-box;
}
.output-edit-property__input:focus {
  outline: none;
  border-bottom: 1px solid #2256f2;
}
.output-edit-property__icons {
  position: absolute;
  right: 8px;
  top: calc(50% - 11px);
}
.output-edit-property__icons i {
  font-size: 20px;
  cursor: pointer;
  color: #2256f2;
}
.output-edit-property__icons i:hover {
  color: #6c8ef4;
}
.output-edit-property__icons .primary {
  color: #2256f2;
}
.output-edit-property__icons .primary:hover {
  color: #6c8ef4;
}
.output-edit-property__icons .danger {
  color: #a63a1f;
}
.output-edit-property__icons .danger:hover {
  color: #e05252;
}
.output-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 8px;
  font-weight: 300;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  font-size: 16px;
}
.output-list:hover {
  background-color: #f8f8f8;
}
.output-list-item {
  position: relative;
  margin-right: 8px;
  border-right: 1px solid #eaeaea;
  padding-right: 8px;
}
.output-list-item:hover {
  cursor: pointer;
  text-decoration: underline;
}
.output-list-item:last-child {
  border-right: none;
  padding-right: 0;
}
.output-list-title {
  display: flex;
  align-items: space-between;
  justify-content: flex-start;
  margin: 4px 0 !important;
  font-weight: 400 !important;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 2px 0 8px 0;
  font-size: 16px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 24px auto;
}
.search__input {
  box-sizing: border-box;
  padding: 0px 14px;
  height: 45px;
  width: 82%;
  border: 1px solid #eaeaea;
  border-radius: 0;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}
.search__input:focus {
  outline: none;
  border: 1px solid #2256f2;
}
.search__button {
  box-sizing: border-box;
  display: inline-block;
  height: 45px;
  border: 1px solid #2256f2;
  background-color: #2256f2;
  color: white;
  border-radius: 0;
  font-size: 16px;
  cursor: pointer;
  width: 18%;
}
.search__button:hover {
  background-color: #1f4ee0;
}/*# sourceMappingURL=main.css.map */